<header class="header">
  <div class="container container_row">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo" class="logo__image"/>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#info" class="link">Главная</a>
        </li>
        <li class="menu__item">
          <a href="#garage" class="link">Автомобили</a>
        </li>
        <li class="menu__item">
          <a href="#price" class="link">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <section class="info" id="info" [ngStyle]="bgPos">
    <div class="container">
      <h1 class="info__title">Аренда премиальных автомобилей</h1>
      <p class="info__description">
        В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных
        серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью
        побывать за рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
      </p>
      <a href="#garage" class="link-btn btn__main-action" (click)="goScroll(garage)">Посмотреть автомобили</a>
    </div>
  </section>

  <section class="garage" id="garage" #garage>
    <div class="container">
      <div class="title__wrapper">
        <h2 class="sub__title">Наш автопарк</h2>
        <div class="car-toggle">
          <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
          <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
        </div>
      </div>
      <section class="cars__list">
        <article class="car" *ngFor="let car of carsData">
          <img src="{{car.image}}" alt="car" class="car__image">
          <h3 class="car__title">{{car.name}}</h3>
          <div class="car__info">
            <div class="car__info__detail">
              <img src="assets/img/gear.png" alt="gear" class="detail__image">
              <h6 class="detail__title">Привод</h6>
              <p class="detail__property">{{car.gear}}</p>
            </div>
            <div class="car__info__detail">
              <img src="assets/img/wheel.png" alt="wheel" class="detail__image">
              <h6 class="detail__title">Двигатель</h6>
              <p class="detail__property">{{car.engine}} л.с.</p>
            </div>
            <div class="car__info__detail">
              <img src="assets/img/belt.png" alt="belt" class="detail__image">
              <h6 class="detail__title">Кол-во мест</h6>
              <p class="detail__property">{{car.places}}</p>
            </div>
          </div>
          <a href="#price" class="link-btn link-btn_full btn__car-action"
             (click)="goScroll(price, car)">Забронировать</a>
        </article>
      </section>
    </div>
  </section>

  <section class="price" id="price" #price>
    <div class="container">
      <h2 class="sub__title">Узнать цену и забронировать</h2>
      <p class="price__text">
        Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
      </p>

      <form action="" class="price__form" [formGroup]="priceForm">
        <input type="text" class="price__form__input input__name" placeholder="Ваше имя" formControlName="name"/>
        <input type="tel" class="price__form__input input__tel" placeholder="Ваш телефон" formControlName="phone"/>
        <input type="text" class="price__form__input input__mark" placeholder="Автомобиль который вас интересует"
               formControlName="car"/>
        <button type="button" class="link-btn link-btn_full link-btn_full_row btn__price-action" (click)="onSubmit()"
                [disabled]="!priceForm.valid">Узнать цену
        </button>
      </form>
      <img src="assets/img/rolls.png" alt="Rolls" class="price__image" [ngStyle]="trans"/>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="container container_row">
    <div class="logo">
      <img src="assets/img/logo.png" alt="logo" class="logo__image"/>
    </div>
    <p class="rights">Все права защищены</p>
  </div>
</footer>
